*{
    margin: 0%;
    padding: 0%;
}

table{
    border-collapse: collapse;
    width: 400px;
    height: 200px;
    font-family: Arial, Helvetica, sans-serif;
}

th{
    background-color: rgb(31, 30, 133);
    color: white;
}

th:empty{
    border: none;
    background-color: transparent;
}

th:active , td:active{
    background-color: #8383c7;
    color: black;
    border: 2px solid #8383c7;
}

th:hover{
    background-color: #8383c7;
}

th, td{
    border: 2px solid black;
}

#tabelaAlunos{
    width: 550px;
    height: auto;
}

#tabelaAlunos td, #tabelaAlunos th{
    height: 30px;
}

h3{
    margin: 30px 0px;
}

td{
    text-align: center;
}

#scroll{
    width: 30px;
    height: 3000px;
}

thead{
    position: sticky;
    top: -1px;
}