/* Fontes importadas */

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto&display=swap');

/* Pagina */

*{
    padding: 0%;
    margin: 0%;
    font-family: 'roboto';
}

h1, h2, h3, h4, h5{
    font-family: 'Bebas Neue';
}

#pagina, header, footer, main, #galeria{
    width: 100%;
    display: flex;
}

#pagina{
    flex-direction: column;
    align-items: center;
}

/* Cabeçalho */

header{
    background-color: #2A2B2A;
    height: 80px;
    align-items: center;
    justify-content: space-around;
    color: white;
}

nav{
    height: 100%;
    display: flex;
    align-items: center;
}

nav ul{
    list-style: none;
    display: flex;
    gap: 20px;
}

li a{
    text-decoration: none;
    color: white;
}

#menuIcon{
    width: 50px;
    height: 50px;
    cursor: pointer;
    transition: 0.5s;
    display: none;
}

#menuIcon:hover{
    box-shadow: 5px 5px 5px white;
}

#menuMobile{
    display: none;
}

/* Fim cabeçalho */

/* Conteúdo */

main{
    padding: 20px 0px;
    flex-direction: column;
    align-items: center;
}

hr{
    width: 40%;
    border: 1px solid #F5124B;;
}

#destaque{
    width: 60%;
    padding: 20px;
    margin: 10px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    border: 1px solid #2A2B2A;
    border-radius: 15px;
}

#destaque p{
    color: gray;
    text-align: center;
}

button{
    width: 80px;
    padding: 5px;
    background-color: #F5124B;
    border: none;
    color: white;
    border-radius: 5px;
}

.imagem{
    width: 100%;
}

#galeria{
    justify-content: center;
    gap: 20px;
    margin: 20px 0px;
    flex-wrap: wrap;
}

#textoPagina{
    width: 80%;
    margin: 15px 0px;
    text-align: center;
}

.post{
    width: 200px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    border: 1px solid #2A2B2A;
    border-radius: 15px;
}

/* Fim conteúdo */

footer{
    background-color: #2A2B2A;
    height: 60px;
    color: white;
    justify-content: center;
    align-items: center;
}
