main{
    width: 40%;
    justify-content: center;
    align-items: center;
}

body{
    background-image: url(../images/fundo1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

h2{
    margin-bottom: 50px;
    text-align: center;
}

#formulario{
    width: 90%;
    padding: 80px;
    display: flex;
    flex-direction: column;
}
