/* fontes importadas */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');


*{
    margin: 0%;
    padding: 0%;
    font-family: 'Roboto';
}

/* pagina */

#pagina, header, footer{
    width: 100%;
    display: flex;
}

#pagina{
    flex-direction: column;
    align-items: center;
}

h1, h2, h3, h4{
    font-family: 'Roboto Slab';
}

/* cabeçalho */

header{
    background-color: #2A2B2A;
    height: 80px;
    align-items: center;
    justify-content: space-around;
    color: white;
}

nav{
    height: 100%;
    display: flex;
    align-items: center;
}

nav ul{
    list-style: none;
    display: flex;
    gap: 20px;
}

li a{
    text-decoration: none;
    color: aliceblue;
}

#menuIcon{
    width: 25px;
    height: 25px;
    transition: 0.5s;
    display: none;
}

#menuIcon:hover{
    box-shadow: 3px 3px 3px #dba204;
}

#menuMobile{
    display: none;
}

/* fim cabeçalho */

/* formulario */

main{
    height: 500px;
    margin: 180px auto;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    box-shadow: #0f0f0f 4px 4px;
    display: flex;
    overflow: hidden;
}

form{
    display: flex;
    flex-direction: column;
    gap: 7px;
}

input{
    height: 20px;
    border: 0;
    border-bottom: 1px solid #1d1d1d;
}

input:hover{
    transition: 0.5s;
    border-bottom: 1px solid rgb(255, 208, 0);
}

input:focus{
    height: 22px;
    background-color: #dba2046b;
}

a{
    text-decoration: none;
    color: black;
    font-size: 12px;
    margin: 5px 0px;
}

a:hover{
    transition: 0.5s;
    font-size: 13px;
    color: #dba204;
}

button{
    height: 30px;
    border-radius: 10px;
    border: 0;
    background-color: #1d1d1d;
    color: white;
}

button:hover{
    transition: 0.5s;
    height: 32px;
    background-color: #dba204;
}

/* fim formulario */

footer{
    height: 50px;
    background-color: #2A2B2A;
    color: white;
    justify-content: center;
    align-items: center;
}