main{
    width: 50%;
    justify-content: center;
    align-items: center;
}

body{
    background-image: url(../images/fundo2.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

h2{
    margin-bottom: 40px;
    text-align: center;
}

#formulario{
    width: 40%;
    padding: 50px;
    display: flex;
    flex-direction: column;
}

#banner{
    width: 50%;
    height: 100%;
    background-image: url(../images/banner.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
}
