body{
    background-image: url(../images/fundoLogin.png);
    background-size: contain;
}

h2{
    margin-bottom: 90px;
    text-align: center;
}

#formulario{
    width: 40%;
    padding: 40px;
    display: flex;
    flex-direction: column;
}

#banner{
    width: 50%;
    height: 100%;
    background-image: url(../images/banner.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
}
